@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Baloo Bhaijaan 2";
    src:
        local("Baloo Bhaijaan 2 ExtraBold"),
        local("BalooBhaijaan2-ExtraBold"),
        url("fonts/BalooBhaijaan2/BalooBhaijaan2-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Baloo Bhaijaan 2";
    src:
        local("Baloo Bhaijaan 2 Bold"),
        local("BalooBhaijaan2-Bold"),
        url("fonts/BalooBhaijaan2/BalooBhaijaan2-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Baloo Bhaijaan 2";
    src:
        local("Baloo Bhaijaan 2 Medium"),
        local("BalooBhaijaan2-Medium"),
        url("fonts/BalooBhaijaan2/BalooBhaijaan2-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Baloo Bhaijaan 2";
    src:
        local("Baloo Bhaijaan 2 SemiBold"),
        local("BalooBhaijaan2-SemiBold"),
        url("fonts/BalooBhaijaan2/BalooBhaijaan2-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Baloo Bhaijaan 2";
    src:
        local("Baloo Bhaijaan 2 Regular"),
        local("BalooBhaijaan2-Regular"),
        url("fonts/BalooBhaijaan2/BalooBhaijaan2-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    body {
        @apply bg-primary text-center text-primary font-balooBhaijaan2;
    }
}

@layer components {
    button.primary,
    a.primary {
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);

        @apply border-primary font-semibold rounded-primary px-6 py-3;
    }
}
